@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes spin {
    0% {
      border-color: #eb3251;
    }
    25% {
      border-color: #ff3232;
    }
    50% {
      border-color: #a50b0b;
    }
    75% {
      border-color: #cf2424;
    }
    100% {
      border-color: #461b1b;
    }
  }
body{
  background-color:#070707fb;
  color: white;
}